/* =============================================================================
 *   Create Alarm
 * ========================================================================== */
#alarm-setting-node-form {
    background: white;
    border-radius: 11px;
    padding: 19px 31px;
}

#alarm-setting-node-form input[type=text] {
  border: 1px solid #F99104;
  border-radius: 5px;
  padding: 2px;
  color: #B7B7B7;
}

/** Resetting something elsewhere */
#alarm-setting-node-form .form-checkboxes .form-item,
#alarm-setting-node-form .form-radios .form-item {
    background: transparent;
}

#alarm-setting-node-form .form-item > label {
    background-color: #F69022;
    text-align: center;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
}

#alarm-setting-node-form .form-item .form-item > label {
	background-color:transparent;
	color: #333;
}

#alarm-setting-node-form .field-name-field-enabled-form .form-item label,
#alarm-setting-node-form .field-name-field-repeats-form .form-item label{
	color: #333;
	background-color: transparent;
}

.form-item-field-associated-alarms-und{
	display: none;
}

.form-item-field-set-time-und-0-days .description{
	display: none;
	
}

#alarm-setting-node-form input[type=text]{
	margin-top: 1em;
}

